<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="navbar">
        <h2>Gym Pro</h2>
        <div>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'services' %}">Attendance</a>
            <a href="{% url 'track' %}">Tracker</a>
            <a href="{% url 'workout_plan' %}">Workout</a>
        </div>
    </div>
    <div class="hero">
        <h1>Welcome to Gym Pro</h1>
        <p>Your journey to fitness starts here</p>
        <a href="{% url 'membership_form' %}" class="btn-membership">Add Member</a>
    </div>
    <div class="slider">
        <div class="slider-container">
            <div class="slide">"Push yourself because no one else is going to do it for you."</div>
            <div class="slide">"Success starts with self-discipline."</div>
            <div class="slide">"Diet, Workout, Hydrate, Repeat"</div>
            <div class="slide">"Sweat, smile, repeat."</div>
        </div>
    </div>
    <div class="footer">
        <p>Made with <span>❤️</span> by BhaveshDon</p>
    </div>
</body>
</html>
